.container {
    width: 100%;
    background: #23262b;
    border: 1px solid rgba(28, 28, 28, 0.6);
}

.section {
    max-width: 1000px;
}

.filters {
    /* padding: 24px 16px 0px 16px; */
    padding: 20px 20px 0px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filters input[type="text"],
.filters select {
    height: 40px;
    padding: 0px 8px;
    /* padding: 0 10px; */
    font-size: 14px;

    background: #32383e;
    color: #fff;

    border: none;
    border-radius: 4px;
}

.filters input[type="text"] {
    flex: 0 0 23.5%;
    max-width: 23.5%;
}

.filters select {
    flex: 0 0 23.5%;
    max-width: 23.5%;
    /* margin-left: 10px; */
}

.filters label {
    font-weight: bold;
    margin-right: 10px;
}

.gameGrid {
    min-height: 900px;
    padding: 8px 16px;

    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 20px;
}

.gameCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #32383e;
    transition: .15s;

    justify-content: space-between;

    height: 400px;
}

.notFoundBackground {
    height: 400px;
}

.notFoundBackground p {
    display: flex;
    justify-content: center;
}

.gameCard:hover {
    transform: scale(1.02);
    box-shadow: 0 .9rem 1rem rgba(0, 0, 0, .199);
}

.gameCard img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

.gameCard .h2 {
    margin-right: auto;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.paginationCardLeft {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0px 16px 0px 16px;
}

.paginationCardRight {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    padding: 0px 16px 0px 16px;
}

.followButtonHeight {
    height: 32px;
}

.paginationButton {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 4px;
    border: none;
    border-radius: 4px;

    background: #32383e;
    color: #fff;
}

.paginationButton:hover {
    cursor: pointer;
    background-color: #7a8288;
}

.paginationButton.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.mb12 {
    margin-bottom: calc(12 * 4px);
}

.badge {
    font-weight: bold;
    color: #272b30;

    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    text-align: center;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background: #7a8288;
}

.mrAuto {
    margin-right: auto;
}

.mlAuto {
    margin-left: auto;
}

.mb2 {
    margin-bottom: calc(2 * 4px);
}

.mb4 {
    margin-bottom: calc(4 * 4px);
}

.textMuted {
    color: #7a8288;
}

.mr2 {
    margin-right: calc(2 * 4px);
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.button {
    padding: 0.75rem 1rem;
    font-size: .9375rem;
    font-weight: bold;
    line-height: 1.5;

    border: none;
    border-radius: 8px;

    transition: .15s;
}

.button:hover {
    cursor: pointer;
}

.buttonSmall {
    padding: 0rem 1rem;
    font-size: .9375rem;
    font-weight: bold;
    line-height: 1.5;

    border: none;
    border-radius: 8px;

    transition: .15s;
}

.buttonSmall:hover {
    cursor: pointer;
}

.light {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4799eb), color-stop(60%, #4799eb), to(#49acff));
    background-image: linear-gradient(#4799eb, #4799eb 60%, #49acff);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid transparent;

    color: #fff;

    text-align: center;
    user-select: none;
}

.light:hover {
    background-image: linear-gradient(#358de6, #358de6 40%, #2174b9);
    background-repeat: no-repeat;
}

.secondary {
    background: transparent;
    border: 1px solid #7a8288;
    color: #7a8288;
}

.secondary:hover {
    border-color: #fff;
    color: #fff;
}

.w20 {
    display: flex;
    max-width: 20%;
    flex: 0 0 20%;
}

.w80 {
    display: flex;
    max-width: 80%;
    flex: 0 0 80%;
}

.w100 {
    width: 100%;
}


.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.cardTitle {
    margin: 0;
}

.icons {
    display: flex;
    gap: 8px;
}

.description {
    margin-bottom: 8px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.iconContainer {
    position: relative;
    display: inline-block;
}

.iconContainer:hover::before {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1c1e22;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0.8;
    white-space: nowrap;
    z-index: 1;
    pointer-events: none;
}

select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

select:not([multiple]) {
    padding-right: 1.2em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5em) 1em;
    background-size: 0.85em auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cpath d='M70.3 13.8L40 66.3 9.7 13.8z' fill='%23ccc'%3E%3C/path%3E%3C/svg%3E");
}

select::-ms-expand {
    display: none;
}

.highlighted {
    background-color: #007bff;
    color: white;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .gameGrid {
        padding: 8px 16px;

        display: grid;
        grid-template-columns: repeat(1, 4fr);
        grid-gap: 20px;
    }

    .filters {
        padding: 24px 16px 0px 16px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .filters input[type="text"],
    .filters select {
        font-size: 14px;

        background: #32383e;
        color: #fff;

        border: none;
        border-radius: 4px;

        margin: 8px;
        padding: 16px;

        width: 100%;

        flex: 0 0 100%;
        max-width: 100%;
    }
/* 
    .filters input[type="text"] {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%
    } */

    .filters select {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .filters label {
        font-weight: bold;
    }

    .imageSize {
        width: 100%;
    }

    .pagination {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .pagination .paginationCardLeft {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .pagination .paginationCardRight {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 16px;
    }

    .gameCard {
        height: auto;
    }
}

@media screen and (max-width: 782px) {
    .gameCard div {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .filters input[type="text"] {
        width: 95%;
    }
}

@media screen and (max-width: 678px) {
    .gameCard div {
        width: 100%;
    }
}

@media screen and (max-width: 507px) {
    .filters input[type="text"] {
        width: 90%;
    }
}

@media screen and (max-width: 414px) {
    .filters input[type="text"] {
        width: 90%;
    }
}

@media screen and (max-width: 678px) {
    input[type="text"] {
        width: 95%;
    }
}