.button {
    padding: 0.75rem 1rem;
    font-size: .9375rem;
    line-height: 1.5;

    border: none;
    border-radius: 8px;

    transition: .15s;
}

.button:hover {
    cursor: pointer;
}

.light {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4799eb), color-stop(60%, #4799eb), to(#49acff));
    background-image: linear-gradient(#4799eb, #4799eb 60%, #49acff);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid transparent;

    color: #fff;

    text-align: center;
    user-select: none;
}

.light:hover {
    background-image: linear-gradient(#358de6, #358de6 40%, #2174b9);
    background-repeat: no-repeat;
}

.secondary {
    background: transparent;
    border: 1px solid #7a8288;
    color: #7a8288;
}

.secondary:hover {
    border-color: #fff;
    color: #fff;
}

.fixedWidth {
    max-width: 720px;
}

.mb4 {
    margin-bottom: calc(4 * 4px);
}

.mt4 {
    margin-top: calc(4 * 4px);
}

.mAuto {
    margin: auto;
}