.wrapper {
    position: relative;
    height: 100vh;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    height: 80vh;
}

.flex {
    display: flex;
}

.link {
    color: #4799eb;
}

.mb4 {
    margin-bottom: calc(4 * 4px);
}

.mt4 {
    margin-top: calc(4 * 4px);
}

.mb8 {
    margin-bottom: calc(8 * 4px);
}

.mr2 {
    margin-right: calc(2 * 4px);
}

.fontSizeLarge {
    font-size: 200%;
}


.button {
    padding: 0.75rem 1rem;
    font-size: .9375rem;
    line-height: 1.5;

    border: none;
    border-radius: 8px;

    transition: .15s;
}

.button:hover {
    cursor: pointer;
}

.light {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4799eb), color-stop(60%, #4799eb), to(#49acff));
    background-image: linear-gradient(#4799eb, #4799eb 60%, #49acff);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid transparent;

    color: #fff;

    text-align: center;
    user-select: none;
}

.light:hover {
    background-image: linear-gradient(#358de6, #358de6 40%, #2174b9);
    background-repeat: no-repeat;
}