.main {
    margin-top: 55.5px;
    min-height: 100vh;
    /* padding-top: 16px; */
}

.section {
    max-width: 1000px;
    margin-top: 16px;
}

.flex {
    display: flex;
}
.flexColumn {
    flex-direction: column;
}

.imageSmallSize {
    width: 180px;
    height: 100%;
    border-radius: 8px;

}

.defaultWidth {
    width: 356px;
}

.imageDefaultSize {
    width: 356px;
    height: 100%;
    border-radius: 8px;
}

.h1 {
    font-size: 32.7px;
}

.h2 {
    font-size: 24, 65px;
}

.mb1 {
    margin-bottom: calc(1 * 4px);
}

.p0n2 {
    padding: calc(2 * 4px) 0;
}


.p0n4 {
    padding: calc(4 * 4px) 0;
}

.mb4 {
    margin-bottom: calc(4 * 4px);
}

.pageContainer {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
}

.posFixed {
    position: fixed;
}

.colLeft {
    /* flex: 0 0 33%; */
    /* max-width: 33%; */
}

.colRight {
    /* flex: 0 0 66%; */
    /* max-width: 66%; */
}


.button {
    padding: 0.75rem 1rem;
    font-size: .9375rem;
    line-height: 1.5;

    border: none;
    border-radius: 8px;

    transition: .15s;
}

.button:hover {
    cursor: pointer;
}

.light {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4799eb), color-stop(60%, #4799eb), to(#49acff));
    background-image: linear-gradient(#4799eb, #4799eb 60%, #49acff);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid transparent;

    color: #fff;

    text-align: center;
    user-select: none;
}

.light:hover {
    background-image: linear-gradient(#358de6, #358de6 40%, #2174b9);
    background-repeat: no-repeat;
}

.secondary {
    background: transparent;
    border: 1px solid #7a8288;
    color: #7a8288;
}

.secondary:hover {
    border-color: #fff;
    color: #fff;
}

.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
}

.textAlignJustify {
    text-align: justify;
}

.textColorBlue {
    color: #4799eb;
}

.mb2 {
    margin-bottom: calc(2 * 4px);
}

.mb4 {
    margin-bottom: calc(4 * 4px);
}

.mb8 {
    margin-bottom: calc(8 * 4px);
}

.cardContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.cardItem {
    /* background: hotpink; */
    margin: 8px 0px;
    font-size: 1.0rem;
}

.w60 {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    max-width: 60%;
}

.icons {
    display: flex;
    align-items: center;
}

.g2 {
    gap: calc(2 * 4px);
}

.m0n2 {
    margin: 0 calc(2 * 4px);
}

.w100 {
    width: 100%;
}

.w100 textarea {
    width: 100%;
    padding: 10px;
}

.chatH {
    height: 110px;
}

.chatFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chatFlex img {
    max-width: 70%;
    border-radius: 8px;
}

.chatButton {
    width: 50px;
    height: 50px;
    height: 110px;
}

.deepDark {
    background-color: #1c1e22;
    border: 0 solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    color: #ccc;
}

.additionalContainer {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
}

.additionalItem {
    /* background: teal; */

    margin: 8px;
    /* padding: 8px; */
    gap: 10px;
}

.mr2 {
    margin-right: calc(2 * 4px);
}

/* Carousel.module.css */

.carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 400px;
}

.carouselImage {
    flex: 0 0 100%;
    transition: opacity 0.3s ease-in-out;
    object-fit: cover;
    height: 100%;
}

.active {
    opacity: 1;
}

.carouselButton {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.carouselButton:focus {
    outline: none;
}


.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 400px;
}

.carouselImage {
    flex: 0 0 33.33%;
    /* Для трех видимых слайдов */
    transition: opacity 0.3s ease-in-out;
    object-fit: cover;
    height: 100%;
}

.visible {
    opacity: 1;
}

.container {
    padding: 40px;
    background: #419be0;
}

.slick-slide img {
    margin: auto;
}

.imageSmall {
    width: 200px;
    gap: 10px;
    margin: 16px;
    padding: 16px;
}

.toggleButton {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    transition: color 0.3s ease;
    margin-top: 24px;
}

.br {
    border-top: 1px solid rgba(94, 84, 84, .1);
}

.descriptionContainer {
    overflow: hidden;
    max-height: 500px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

.descriptionContainer.expanded {
    max-height: 1000px;
    opacity: 1;
}

.descriptionContainer.collapsed {
    max-height: 100px;
    opacity: 0.8;
}

.toggleButton:hover {
    color: #0056b3;
}

.mt4 {
    margin-top: calc(4 * 4px);
}

.fontSizeSmall {
    font-size: 80%;
}

.fontItalic {
    font-style: italic;
}

.link {
    color: #fff;
}

.smailPositive {
    color: rgb(154, 205, 50, 0.8);
}

.smailNormal {
    color: rgb(255, 255, 0, 0.8);
}

.smailNegative {
    color: rgb(220, 20, 60, 0.8);
}

@media screen and (min-width: 300px) and (max-width: 880px) {
    .additionalContainer {
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        max-width: 80%;
    }

    .main {
        margin-top: 0px;
        padding: 8px;
    }
}

@media screen and (min-width: 880px) and (max-width: 1080px) {
    .main {
        padding: 16px;
    }
}