.container {
    flex: 0 0 67%;
    max-width: 67%;
}

.flex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.flexBetween {
    justify-content: space-between;
}

.cardButton {
    display: flex;
    padding: 8px;

    text-transform: uppercase;
    font-weight: bold;

    font-size: 75%;

    color: #fff;
    background: #4799eb;

    border: none;
    border-radius: .25rem;
}

.overlayBlock {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
}

.overlay {
    position: absolute;
    padding: 16px;
}

.positionBottom {
    bottom: 0;
    right: 0;
}

.card {
    display: flex;
    flex-direction: column;
}

.cardItem {
    display: flex;
    align-items: center;
    max-height: 115px;
    justify-content: space-between;
    padding: 0 8px;

    transition: .15s;
}

.cardItem:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 .9rem 1rem rgba(0, 0, 0, .199);
}

.flexItem {
    transition: .15s;
}

.flexItem:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 .9rem 1rem rgba(0, 0, 0, .199);
}


.cardItem>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px;
}

.cardItem>div img {
    width: 160px;
    height: 90px;

    border-radius: .25rem;
}

.cardItem {
    background: #32383e;
    border-radius: .25rem;
}

.cardItem>div:nth-child(2) {
    flex: 0 0 55%;
    max-width: 55%;
}

.mb1 {
    margin-bottom: .25rem;
}

.mb3 {
    margin-bottom: 1rem;
}

.mb4 {
    margin-bottom: 1.5rem;
}

.mb12 {
    margin-bottom: calc(12 * 4px);
}

.ml5 {
    margin-left: calc(4 * 5px);
}

.section {
    max-width: 1000px;
}


.textMuted {
    color: #7a8288;
}

.badge {
    font-weight: bold;
    color: #272b30;

    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    text-align: center;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background: #7a8288;
}

.textTruncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.w100 {
    width: 100%;
}

.imageFrame img {
    width: 100%;
}

.button {
    padding: 0.5rem;
    font-size: .9375rem;
    line-height: 1.5;

    border: none;
    border-radius: 8px;

    transition: .15s;
}

.button:hover {
    cursor: pointer;
}

.secondary {
    background: transparent;
    border: 1px solid #7a8288;
    color: #7a8288;
}

.secondary:hover {
    border-color: #fff;
    color: #fff;
}

.alignRight {
    text-align: right;
}

.w1n3 {
    max-width: 33%;
    flex: 0 0 33%;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .container {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .p4 {
        padding: calc(4 * 4px);
    }

    .br1 {
        border-radius: 4px;
    }
}