.modal {
    max-width: 720px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1056;
}

.modalContent {
    position: relative;
    border-radius: 40px;
    background: #1C1C21;
    width: 100%;
    text-align: center;
}

.modalHeader {
    min-width: 640px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalNoHeader {
    min-width: 640px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pt8 {
    padding-top: calc(8 * 4px);
}

.pr10 {
    padding-right: calc(10 * 4px);
}

.pb8 {
    padding-bottom: calc(8 * 4px);
}

.pl10 {
    padding-left: calc(10 * 4px);
}

/*  */

.pt5 {
    padding-top: calc(4 * 5px);
}

.pr5 {
    padding-right: calc(4 * 5px);
}

.pb5 {
    padding-bottom: calc(4 * 5px);
}

.pl5 {
    padding-left: calc(4 * 5px);
}

.mt5 {
    margin-top: calc(5 * 4px);
}

.mb5 {
    margin-bottom: calc(5 * 4px);
}

.textCenter {
    text-align: center;
}

.flex {
    display: flex;
}

.mlAuto {
    margin-left: auto;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .modalContent {
        max-width: 200px;
    }
}