.main {
    margin-top: 55.5px;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .main {
        margin-top: 0px;
        overflow: hidden;
    }
}

@media screen and (max-width: 962px) {
    .main {
        margin-top: 100px;
        margin-bottom: 0px;
        padding: 8px;
    }
}

@media screen and (max-width: 678px) {
    .main {
        margin-top: 0;
    }
}