.contrainer {
    width: 100%;
}

.flex {
    display: flex;
}

.flexNoWrap {
    flex-wrap: nowrap;
}

.flexAlignBaseline {
    align-items: baseline;
}

.iconSize {
    font-size: 22px;
}

.flexColumn {
    flex-direction: column;
}

.card {
    justify-content: space-between;
}

.cardItem {
    flex-direction: column;
    background: #32383e;
    border-radius: .25rem;
    transition: .15s;
}

.cardItem:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 .9rem 1rem rgba(0, 0, 0, .199);
    z-index: 1;
}

.cardItem img {
    width: 100%;
}

.cardItem h2 {
    width: 80%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.cardItem div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.cardButton {
    display: flex;
    padding: 8px;

    text-transform: uppercase;
    font-weight: bold;

    font-size: 75%;

    color: #fff;
    background: #4799eb;

    border: none;
    border-radius: .25rem;
}

.overlayBlock {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
}

.overlay {
    position: absolute;

    padding: 16px;
}

.positionBottom {
    bottom: 0;
    right: 0;
}

.section {
    max-width: 1000px;
}

.h2 {
    font-size: 30px;
    font-weight: 510;
    line-height: 1.2;
}

.mr1 {
    margin-right: calc(1 * 4px);
}

.mr2 {
    margin-right: calc(2 * 4px);
}

.mr4 {
    margin-right: calc(4 * 4px);
}

.mb1 {
    margin-bottom: calc(1 * 4px);
}

.mb2 {
    margin-bottom: calc(2 * 4px);
}

.mb6 {
    margin-bottom: calc(6 * 4px);
}

.link {
    color: #4799eb;
}

.maxWidth3 {
    flex: 0 0 33%;
    max-width: 33%;
}

@media screen and (min-width: 300px) and (max-width: 880px) {
    .contrainer {
        overflow: hidden;
    }

    .card {
        display: grid;
        justify-content: center;
        gap: 16px;
    }

    .cardItem {
        width: 100%;
    }

    .headerFlex {
        display: flex;
        flex-direction: column;
        padding: 16px;
        margin: 8px;
    }

    .deepDark {
        /* background-color: #1c1e22; */
        border: 0 solid rgba(0, 0, 0, .6);
        border-radius: 5px;
    }

    .grid {
        display: grid;
        grid-auto-flow: dense;
    }

    .p4 {
        padding: calc(4 * 4px);
    }

    .mb4 {
        margin-bottom: calc(4 * 4px);
    }

    .p3n1 {
        padding: 12px 4px
    }

    .flex {
        display: flex;
    }

    .w100 {
        width: 100%;
    }

    .gameItem {
        width: 245px;
        flex-direction: column;
        background: #32383e;
        border-radius: .25rem;
        transition: .15s;

        width: 100%;
    }

    .gameItem:hover {
        cursor: pointer;
        transform: scale(1.02);
        box-shadow: 0 .9rem 1rem rgba(0, 0, 0, .199);
        z-index: 1;
    }

    .gameItem img {
        width: 100%;
    }

    .gameItem h2 {
        width: 80%;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .gameItem div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .mr2 {
        margin-right: calc(2 * 4px);
    }

    .cardButton {
        display: flex;
        padding: 8px;

        text-transform: uppercase;
        font-weight: bold;

        font-size: 75%;

        color: #fff;
        background: #4799eb;

        border: none;
        border-radius: .25rem;
    }

    .g3 {
        gap: calc(3 * 4px);
    }

    .flexWidth1n1 {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;

        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1080px) {
    .card {
        display: flex;
        flex: 0 0 950px;
        max-width: 950px;
    }
    .flexWidth1n1 {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;

        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 1024px) {
    .card {
        display: flex;
        flex: 0 0 950px;
        max-width: 950px;
    }
    .flexWidth1n1 {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;

        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 962px) {
    .card {
        display: flex;
        flex: 0 0 900px;
        max-width: 900px;
    }
    .flexWidth1n1 {
        display: flex;
        flex: 0 0 90%;
        max-width: 90%;

        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .card {
        display: flex;
        flex: 0 0 800px;
        max-width: 800px;
    }
    .flexWidth1n1 {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;

        flex-direction: row;
        align-items: center;
    }
}


@media screen and (max-width: 460px) {
    .backgroundImage {
        padding: 0px;
    }
    .section {
        padding: 0px;
        margin: 0px;
    }
    .grid {
        padding: 0px;
    }
    .headerFlex {
        padding: 0px;
        margin: 0px;
    }
    .card {
        display: flex;
        flex: 0 0 350px;
        max-width: 350px;
    }
    .cardItem {
        padding: 8px;
    }
    .flexWidth1n1 {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;

        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .card {
        display: flex;
        flex: 0 0 350px;
        max-width: 350px;
    }
    .cardItem {
        padding: 8px;
    }
    .flexWidth1n1 {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;

        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 414px) {
    .card {
        display: flex;
        flex: 0 0 350px;
        max-width: 350px;
    }
    .flexWidth1n1 {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;

        flex-direction: column;
        align-items: center;
    }
}