.header {
    background: #272b30;
    margin: auto;

    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);

    position: fixed;
    z-index: 1030;

    top: 0;
    right: 0;
    left: 0;

    height: 55.5px;
}

.container {
    max-width: 1030px;
    height: 100%;

    background: #272b30;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.flex ul>li {
    display: flex;
    align-items: center;
}

.linkColorBlue {
    color: #4799eb;
}

.nav_link {
    color: rgba(255, 255, 255, .5);
}

.nav_link_active {
    color: #4799eb;
}

.mr1 {
    margin-right: calc(1 * 4px);
}

.p1 {
    padding: calc(1 * 4px);
}

.p01 {
    padding: 0 calc(1 * 4px);
}

.p02 {
    padding: 0 calc(2 * 4px);
}

.link img {
    scale: 0.9;
}

.p3 {
    padding: calc(3 * 4px);
}

.nav_button {
    color: #4799eb;
    border: 1px solid #4799eb;
    padding: .75rem 1rem;
    border-radius: .25rem;
}

.navbarCollapse {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbarCollapse li>a:hover {
    color: #fff;
    border-color: #fff;
}

.badge {
    color: #fff;
    background: #4799eb;

    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    text-align: center;
    vertical-align: baseline;
    line-height: 1;

    margin-left: 2px;
    font-weight: bold;
}

.badgePill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.shadows {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.logo {
    line-height: 0;
}

.logo img {
    height: 45px;
}

.contextMenu {
    position: absolute;
    top: 60px;
    background: #3a3f44;
    border-radius: .25rem;
    padding: .5rem 0;
}

.contextMenuItem {
    padding: 4px 24px;
}

.contextMenuItem:hover {
    cursor: pointer;
    color: #fff;
    background-color: #272b30;
}

.smallFont {
    font-size: 80%;
}

.ml1 {
    margin-left: calc(1 * 4px);
}

.dropdownDivider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, .15);
}

.ml4 {
    margin-left: calc(4 * 4px);
}

.fontSizeDefault {
    font-size: 90%;
}

.fontStyleCapitalize {
    text-transform: capitalize;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #272b30;
        color: white;
    }

    .menuIcon {
        cursor: pointer;
    }

    .menu {
        display: block;
        background-color: #272b30;
        color: black;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;

        border-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);

        width: 100%;
        flex: 0 0 100%;

        z-index: 1000;
    }

    .menu li {
        width: 100%;
    }

    .menuItem {
        padding: 16px;
        color: rgba(255, 255, 255, 0.5);
    }
}