.wrapper {
    /* background-image: url("../../images/PageNotFound.png"); */
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.container {
    padding: calc(4 * 4px);
    display: flex;
    flex-direction: column;
    height: calc(100vh - calc(4 * 4px) * 2);
}

.content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.link {
    color: #4799eb;
}

.link:hover {
    color: #fff;
}